/* Variabili colori */
$primary-brand-color: #00D9A6;
$primary-brand-gradient: linear-gradient(90deg, rgb(0, 255, 0), #00D9A6);


/* Mixin */
@mixin flex($justify) {
    display: flex;

    @if $justify == 'Both_Center'{
        justify-content: center;
        align-items: center;
    }
    @else if $justify == 'Between_Center'{
        justify-content: space-between;
        align-items: center;
    }
    @else if $justify == 'Between'{
        justify-content: space-between;
    }
}

@mixin center{
    width: 80%;
    margin: auto;
}

@mixin button{
    border: none;
    background: linear-gradient(90deg, rgb(0, 255, 0), #00D9A6);
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    font-size: 0.7rem;
    box-shadow: 0px 15px 20px rgba(2, 255, 154, 0.4);
    cursor: pointer;
}

@mixin button_hover{
    border: none;
    background: linear-gradient(90deg, rgb(66, 65, 65), rgb(0, 0, 0));
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    font-size: 0.7rem;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}